@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Body Styling */
body {  
    font-family: 'Lato', sans-serif;
    line-height: 200%;
    width: 90%;
    color: #000;
    background-color: #fff;
    height: 100%;
    margin: auto;
    background-image: url("https://images.unsplash.com/photo-1588021096117-6717ba0ff0a0?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
}

/* Content Container */
.container {
    background-color: rgba(0, 0, 0, .9);
    padding-top: 1px;
    padding-bottom: 60px;
    color: white;
    text-align: center !important;
}

/* Header Styling */
.headerWrap {
    border: 4px double white;
    background-color: #000;
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 40px;
    padding: 6px 25px;
    line-height: 0;
    border-top: 4px double white;
}

h1 {
    font-family: 'Noto Serif', serif;
    font-size: 2.5em;
    text-align: center !important;
}

h2 {
    font-family: 'Noto Serif', serif;
    margin-bottom: -10px;
    border-bottom: 2px double white;
    padding-bottom: 5px;
}

/* Fix Later */
.parallel {
    width: 60%;
    margin: auto;
    margin-bottom: auto;
    text-align: justify;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: -10px;
}

.parallel .box img {
    float:right; 
    margin-left:30px;
    max-width: 250px;
    height:auto;
    margin-top: 30px;
}

.about {
}

.skills {
}

/* Projects Section */
.projects {
    width: 60%;
    margin: auto;
    text-align: justify;
}

/* Contact Section */
.contact {
    width: 60%;
    margin: auto;
    text-align: justify;
}
