@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Body Styling */
body {
    font-family: 'Lato', sans-serif;
    line-height: 200%;
    width: 80%;
    text-align: justify;
}

/* Header Styling */
h1 {
    font-family: 'Noto Serif', serif;
    margin-bottom: -10px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: 'Noto Serif', serif;
    margin-bottom: -10px;
    text-transform: uppercase;
}

/* About Section */
.about {
    width: 60%;
    margin: auto;
}


/* Skills Section */
.skills {
    width: 60%;
    margin: auto;
}

/* Projects Section */
.projects {
    width: 60%;
    margin: auto;

/* Contact Section */
.contact {
    width: 60%;
    margin: auto;
}

